@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background:#33006F;
    color:#fff;
    font-family: "Chivo", sans-serif;
    
}

h1,h3{
    text-align:center;
}

.main{
    border:1px solid white;
    border-radius:5px;
    padding:10px;
}

.sub-cont{
    margin-bottom:90px; 
}

.main-1{
    display:flex;
    gap:5px;
}

.box1{
    background-color:red;
    width:30px;
    height:25px;
    border:2px solid black;
    text-align:center;
}

.main-2{
    display:flex;
    flex-direction:column;
    gap:5px;
}
.box2{
    background-color:red;
    width:30px;
    height:25px;
    border:2px solid black;
    text-align:center;
}

.main-3{
    display:flex;
    justify-content:center;
    gap:5px;
}
.box3{
    background-color:red;
    width:30px;
    height:25px;
    border:2px solid black;
    text-align:center;
}


.main-4{
    display:flex;
    align-items:center;
    height:100px;
    gap:5px;
}
.box4{
    background-color:red;
    width:30px;
    height:25px;
    border:2px solid black;
    text-align:center;
}


.main-5{
    display:flex;
    flex-wrap: wrap;
    max-height:120px;
    gap:5px;
}
.box5{
    background-color:red;
    width:30px;
    height:25px;
    border:2px solid black;
    text-align:center;
}

.main-6{
    display:flex;
    height:120px;
    flex-wrap:wrap;
    align-content:center;
    gap:5px;
}
.box6{
    background-color:red;
    width:30px;
    height:25px;
    border:2px solid black;
    text-align:center;
}


.main-7{
    display:flex;
    gap:5px;
}

.box7{
    background-color:red;
    width:30px;
    height:25px;
    border:2px solid black;
    text-align:center;
}

.box7-1{
    order:7;
}

.box7-1{
    order:;
}


.main-8{
    display:flex;
    gap:5px;
}

.box8{
    background-color:red;
    border:2px solid black;
    width:30px;
    height:25px;
    text-align:center;
    flex-grow:1;
}

.box8-2{
    flex-grow:3;
}

.box8-6{
    flex-grow:7;
}


.main-9{
    display:flex;
    gap:5px;
    height:125px;
}

.box9{
    background-color:red;
    border:2px solid black;
    width:30px;
    height:25px;
    text-align:center;
}

.box91{
    align-self:flex-start;
}

.box92{
    align-self:center;
}

.box93{
    align-self:flex-end;
}

.box94{
    height:auto;
    align-self:stretch;
}

.box95{
    align-self:flex-end;
}

.box96{
    align-self:center;
}

